@import url('https://fonts.googleapis.com/css?family=Philosopher:400,400i,700,700i&subset=cyrillic-ext');






body, h1, h2, h3, h4, h5 {
    font-family: 'Philosopher', sans-serif;
    .masthead {
        h1 {
            color: white;
            font-size: 4rem;
        }
        em{
            color: burlywood;
        }

        min-height: 30rem;
        position: relative;
        display: table;
        width: 100%;
        height: auto;
        padding-top: 8rem;
        padding-bottom: 8rem;
        background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.1)), to(rgba(255, 255, 255, 0.1))),
        url("../img/bg-masthead\ \(2\).jpg");
        background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%),
        url("../img/bg-masthead\ \(2\).jpg");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    #about {
        p{
            font-size: 1rem;
        }
        .btn{
          background-color:  rgb(255, 117, 107);
        }
    }

    #services {
        background: rgb(134, 95, 197);
    }

    section.callout {
        background: rgb(255, 117, 107);
    }

    #portfolio {}

    section.content-section {}

    section#contact {}

    footer.footer text-center {}
}